* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Landing Page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff9ef;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 10vh;
}


.eye-container {
    display: flex;
    margin-top: 15vh;
}

.eye {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f9cdcc;
    margin: 0 20px;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.eye::before {
    content: "";
    position: absolute;
    top: 30%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #3845ad;
}

#name-input {
    height: 50px;
    width: 300px;
    border-radius: 25px;
    margin-top: 10vh;
    text-align: center;
    border: none;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    background-color: #f9cdcc;
}